modfolder/DebugMode+/log.txt
modfolder/DebugMode+/codeset.txt
modfolder/Project+/
modfolder/ComboMode+/BOOST.GCT
modfolder/ComboMode+/RSBE01.GCT
modfolder/ComboMode+/RSBEDM.GCT
modfolder/ComboMode+/rsbe/pf/injects/*.GCT
tools/VSDsync/Config.ini
modfolder/ComboMode+/NETPLAY.GCT
modfolder/ComboMode+/NETBOOST.GCT
rels/ft_wolf_ex/Section\[8\].asm
rels/ft_wolf_ex/Section\[7\].asm
rels/ft_wolf_ex/Section\[6\].asm
rels/ft_wolf_ex/Section\[5\].asm
rels/ft_wolf_ex/Section\[4\].asm
rels/ft_wolf_ex/Section\[3\].asm
rels/ft_wolf_ex/Section\[2\].asm
rels/ft_wolf_ex/Section\[1\].asm
rels/ft_wolf_ex/ft_wolf_ex.json
rels/ft_wolf/Section\[6\].asm
rels/ft_wolf/Section\[5\].asm
rels/ft_wolf/Section\[4\].asm
rels/ft_wolf/Section\[3\].asm
rels/ft_wolf/Section\[2\].asm
rels/ft_wolf/Section\[1\].asm
rels/ft_wolf/ft_wolf.json
rels/ft_snake_ex/Section\[8\].asm
rels/ft_snake_ex/Section\[7\].asm
rels/ft_snake_ex/Section\[6\].asm
rels/ft_snake_ex/Section\[5\].asm
rels/ft_snake_ex/Section\[4\].asm
rels/ft_snake_ex/Section\[3\].asm
rels/ft_snake_ex/Section\[2\].asm
rels/ft_snake_ex/Section\[1\].asm
rels/ft_snake_ex/ft_snake_ex.json
rels/ft_snake/Section\[6\].asm
rels/ft_snake/Section\[5\].asm
rels/ft_snake/Section\[4\].asm
rels/ft_snake/Section\[3\].asm
rels/ft_snake/Section\[2\].asm
rels/ft_snake/Section\[1\].asm
rels/ft_snake/ft_snake.json
rels/ft_pikachu_ex/Section\[8\].asm
rels/ft_pikachu_ex/Section\[7\].asm
rels/ft_pikachu_ex/Section\[6\].asm
rels/ft_pikachu_ex/Section\[5\].asm
rels/ft_pikachu_ex/Section\[4\].asm
rels/ft_pikachu_ex/Section\[3\].asm
rels/ft_pikachu_ex/Section\[2\].asm
rels/ft_pikachu_ex/Section\[1\].asm
rels/ft_pikachu_ex/ft_pikachu_ex.json
rels/ft_pikachu/Section\[6\].asm
rels/ft_pikachu/Section\[5\].asm
rels/ft_pikachu/Section\[4\].asm
rels/ft_pikachu/Section\[3\].asm
rels/ft_pikachu/Section\[2\].asm
rels/ft_pikachu/Section\[1\].asm
rels/ft_pikachu/ft_pikachu.json
rels/ft_fox_vanilla/ft_fox_vanilla.json
rels/ft_fox_vanilla/Section\[1\].asm
rels/ft_fox_vanilla/Section\[2\].asm
rels/ft_fox_vanilla/Section\[3\].asm
rels/ft_fox_vanilla/Section\[4\].asm
rels/ft_fox_vanilla/Section\[5\].asm
rels/ft_fox_vanilla/Section\[6\].asm
rels/ft_ike/ft_ike.json
rels/ft_ike/Section\[1\].asm
rels/ft_ike/Section\[2\].asm
rels/ft_ike/Section\[3\].asm
rels/ft_ike/Section\[4\].asm
rels/ft_ike/Section\[5\].asm
rels/ft_ike/Section\[6\].asm
rels/ft_ike_ex/ft_ike_ex.json
rels/ft_ike_ex/Section\[1\].asm
rels/ft_ike_ex/Section\[2\].asm
rels/ft_ike_ex/Section\[3\].asm
rels/ft_ike_ex/Section\[4\].asm
rels/ft_ike_ex/Section\[5\].asm
rels/ft_ike_ex/Section\[6\].asm
rels/ft_ike_ex/Section\[7\].asm
rels/ft_ike_ex/Section\[8\].asm
rels/ft_link/ft_link.json
rels/ft_link/Section\[1\].asm
rels/ft_link/Section\[2\].asm
rels/ft_link/Section\[3\].asm
rels/ft_link/Section\[4\].asm
rels/ft_link/Section\[5\].asm
rels/ft_link/Section\[6\].asm
rels/ft_link_ex/ft_link_ex.json
rels/ft_link_ex/Section\[1\].asm
rels/ft_link_ex/Section\[2\].asm
rels/ft_link_ex/Section\[3\].asm
rels/ft_link_ex/Section\[4\].asm
rels/ft_link_ex/Section\[5\].asm
rels/ft_link_ex/Section\[6\].asm
rels/ft_link_ex/Section\[7\].asm
rels/ft_link_ex/Section\[8\].asm
rels/ft_lucario/ft_lucario.json
rels/ft_lucario/Section\[1\].asm
rels/ft_lucario/Section\[2\].asm
rels/ft_lucario/Section\[3\].asm
rels/ft_lucario/Section\[4\].asm
rels/ft_lucario/Section\[5\].asm
rels/ft_lucario/Section\[6\].asm
rels/ft_lucario_ex/ft_lucario_ex.json
rels/ft_lucario_ex/Section\[1\].asm
rels/ft_lucario_ex/Section\[2\].asm
rels/ft_lucario_ex/Section\[3\].asm
rels/ft_lucario_ex/Section\[4\].asm
rels/ft_lucario_ex/Section\[5\].asm
rels/ft_lucario_ex/Section\[6\].asm
rels/ft_lucario_ex/Section\[7\].asm
rels/ft_lucario_ex/Section\[8\].asm
rels/ft_lucas/ft_lucas.json
rels/ft_lucas/Section\[1\].asm
rels/ft_lucas/Section\[2\].asm
rels/ft_lucas/Section\[3\].asm
rels/ft_lucas/Section\[4\].asm
rels/ft_lucas/Section\[5\].asm
rels/ft_lucas/Section\[6\].asm
rels/ft_lucas_ex/ft_lucas_ex.json
rels/ft_lucas_ex/Section\[1\].asm
rels/ft_lucas_ex/Section\[2\].asm
rels/ft_lucas_ex/Section\[3\].asm
rels/ft_lucas_ex/Section\[4\].asm
rels/ft_lucas_ex/Section\[5\].asm
rels/ft_lucas_ex/Section\[6\].asm
rels/ft_lucas_ex/Section\[7\].asm
rels/ft_lucas_ex/Section\[8\].asm
rels/ft_mario_ex/ft_mario_ex.json
rels/ft_mario_ex/Section\[1\].asm
rels/ft_mario_ex/Section\[2\].asm
rels/ft_mario_ex/Section\[3\].asm
rels/ft_mario_ex/Section\[4\].asm
rels/ft_mario_ex/Section\[5\].asm
rels/ft_mario_ex/Section\[6\].asm
rels/ft_mario_ex/Section\[7\].asm
rels/ft_mario_ex/Section\[8\].asm
rels/ft_mario_vanilla/ft_mario_vanilla.json
rels/ft_mario_vanilla/Section\[1\].asm
rels/ft_mario_vanilla/Section\[2\].asm
rels/ft_mario_vanilla/Section\[3\].asm
rels/ft_mario_vanilla/Section\[4\].asm
rels/ft_mario_vanilla/Section\[5\].asm
rels/ft_mario_vanilla/Section\[6\].asm
rels/ft_marth/ft_marth.json
rels/ft_marth/Section\[1\].asm
rels/ft_marth/Section\[2\].asm
rels/ft_marth/Section\[3\].asm
rels/ft_marth/Section\[4\].asm
rels/ft_marth/Section\[5\].asm
rels/ft_marth/Section\[6\].asm
rels/ft_marth_ex/ft_marth_ex.json
rels/ft_marth_ex/Section\[1\].asm
rels/ft_marth_ex/Section\[2\].asm
rels/ft_marth_ex/Section\[3\].asm
rels/ft_marth_ex/Section\[4\].asm
rels/ft_marth_ex/Section\[5\].asm
rels/ft_marth_ex/Section\[6\].asm
rels/ft_marth_ex/Section\[7\].asm
rels/ft_marth_ex/Section\[8\].asm
rels/ft_meleefox/ft_meleefox.json
rels/ft_meleefox/Section\[1\].asm
rels/ft_meleefox/Section\[2\].asm
rels/ft_meleefox/Section\[3\].asm
rels/ft_meleefox/Section\[4\].asm
rels/ft_meleefox/Section\[5\].asm
rels/ft_meleefox/Section\[6\].asm
rels/ft_meleefox/Section\[7\].asm
rels/ft_meleefox/Section\[8\].asm
rels/ft_fox.map
rels/ft_dedede_ex/Section\[8\].asm
rels/ft_dedede_ex/Section\[7\].asm
rels/ft_dedede_ex/Section\[6\].asm
rels/ft_dedede_ex/Section\[5\].asm
rels/ft_dedede_ex/Section\[4\].asm
rels/ft_dedede_ex/Section\[3\].asm
rels/ft_dedede_ex/Section\[2\].asm
rels/ft_dedede_ex/Section\[1\].asm
rels/ft_dedede_ex/ft_dedede_ex.json
rels/ft_dedede/Section\[6\].asm
rels/ft_dedede/Section\[5\].asm
rels/ft_dedede/Section\[4\].asm
rels/ft_dedede/Section\[3\].asm
rels/ft_dedede/Section\[2\].asm
rels/ft_dedede/Section\[1\].asm
rels/ft_dedede/ft_dedede.json
.claude/settings.json
.vscode/tasks.json
