modfolder/DebugMode+/log.txt
modfolder/DebugMode+/codeset.txt
modfolder/Project+/
modfolder/ComboMode+/BOOST.GCT
modfolder/ComboMode+/RSBE01.GCT
modfolder/ComboMode+/RSBEDM.GCT
modfolder/ComboMode+/rsbe/pf/injects/*.GCT
tools/VSDsync/Config.ini
modfolder/ComboMode+/NETPLAY.GCT
modfolder/ComboMode+/NETBOOST.GCT
