modfolder/DebugMode+/log.txt
modfolder/DebugMode+/codeset.txt
modfolder/Project+/
modfolder/ComboMode+/BOOST.GCT
modfolder/ComboMode+/RSBE01.GCT
modfolder/ComboMode+/RSBEDM.GCT
modfolder/ComboMode+/rsbe/pf/injects/fighter/*.GCT
tools/VSDsync/Config.ini
